@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 187 100% 27%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 240 10% 3.9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 180 100% 27%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 187 100% 27%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 64% 27%;
    --foreground: 220 20% 96.5%;
    --card: 240 50% 32%;
    --card-foreground: 220 20% 96.5%;
    --popover: 240 64% 27%;
    --popover-foreground: 220 20% 96.5%;
    --primary: 182 100% 74%;
    --primary-foreground: 240 64% 10%;
    --secondary: 240 40% 40%;
    --secondary-foreground: 220 20% 96.5%;
    --muted: 240 40% 40%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 180 100% 50%;
    --accent-foreground: 240 64% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 40% 40%;
    --input: 240 40% 40%;
    --ring: 182 100% 74%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient {
  background: linear-gradient(-45deg, hsl(var(--background)), hsl(var(--primary) / 0.15), hsl(var(--background)));
  background-size: 400% 400%;
  animation: gradient-animation 15s ease infinite;
}
